scikit-learn
pandas
numpy
matplotlib
seaborn
notebook
mglearn
tqdm
xgboost
lightgbm
catboost
umap-learn
torch
torchvision
torchtext
lightning
tensorboard==2.18
tensorflow==2.18
gensim
plotly
jupyter
kaggle
kagglehub
transformers
ipywidgets
spacy 
nltk
opencv-python
pillow
tqdm
reportlab
pdf2image
streamlit